<!DOCTYPE html>
<html>
    <head>
        <title>Analisis de Impacto</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Analisis de Impacto</a></h1>
        </header>

        <div>
            {% for Trunk_OTN in posts1 %}
            <article>
                <time>Published: {{ Trunk_OTN.Published_date }}</time>
                <h2><a href="">{{ Trunk_OTN.Trunk }}</a></h2>
                <p>{{ Trunk_OTN.Detail|linebreaksbr }}</p>
            </article>
            {% endfor %}
        </div>
        <div>
             {% for Trunk_DWDM in posts2 %}
            <article>
                <time>Published: {{ Trunk_DWDM.Published_date }}</time>
                <h2><a href="">{{ Trunk_DWDM.Trunk }}</a></h2>
                <p>{{ Trunk_DWDM.Detail|linebreaksbr }}</p>
            </article>
            {% endfor %}
        </div>
        <div>
             {% for Trunk_SDH in posts3 %}
            <article>
                <time>Published: {{ Trunk_SDH.Published_date }}</time>
                <h2><a href="">{{ Trunk_SDH.Trunk }}</a></h2>
                <p>{{ Trunk_SDH.Detail|linebreaksbr }}</p>
            </article>
            {% endfor %}
        </div>

    </body>
</html>